<!DOCTYPE html>
<html>
    <body>
        <h3>Ejemplo de SQLAlchemy</h3>
        <hr />
        <h3>Estudiantes</h3>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellido }}</td>
                    <td>{{ estudiante.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>